@import "./card-component.css";

/* 카드 레이아웃 */
.container {
  display: grid;
  grid-template-rows: repeat(7, var(--size));
  row-gap: 20px;
  width: 100%;
  /* iPad Pro */
  .ipad-pro {
    position: relative;
    inline-size: 100%;
    block-size: var(--size, 500px);
    padding-block-start: var(--large-spacing, 40px);
    background-image: url(../products/ipad_pro.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .pro {
      position: absolute;
      color: white;
      top: 23%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;

      .name {
        font-size: var(--large-text);
        font-weight: 700;
        line-height: 32px;
        margin-bottom: var(--small-spacing);
      }
      .text {
        font-weight: 400;
        font-size: var(--base-text);
        line-height: var(--line-normal);
        margin-bottom: var(--x-small-spacing);
      }

      .gray {
        font-size: var(--small-text);
        font-weight: 400;
        line-height: 17px;
        color: #86868b;
      }

      .buttonwrap {
        margin-top: 1rem;
        .more {
          color: #f5f5f7;
          width: 4.5rem;
          border: 1px solid #0071e3;
          background: #0071e3;
          border-radius: 6.25rem;
          padding: var(--x-small-spacing) var(--small-spacing);
          margin-right: var(--small-spacing);
          font-size: var(--xx-small-text);
        }
        .price {
          width: 61px;
          border-radius: 100px;
          padding: var(--x-small-spacing);
          border: 2px solid #0071e3;
          color: #0071e3;
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          letter-spacing: 0%;
          font-size: var(--xx-small-text);
        }
      }
    }

    @media (min-resolution: 192dpi) {
      background-image: url(../products/ipad_pro_2x.jpeg);
    }
    @media (min-width: 64rem) and (min-resolution: 192dpi) {
      background-image: url(../products/ipad_pro_wide_2x.jpeg);
    }

    @media (min-width: 1024px) {
      background-image: url(../products/ipad_pro_wide.jpeg);
      .pro {
        .name {
          font-size: var(--extra-large-text);
        }
        .text {
          font-size: var(--medium-text);
        }
        .buttonwrap {
          font-size: var(--x-small-text);
        }
      }
    }
  }

  /* iPad air */
  .ipad-air {
    position: relative;
    inline-size: 100%;
    background-image: url(../products/ipad_air.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .air {
      position: absolute;
      color: #000;
      top: 23%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;

      .name {
        font-size: var(--large-text);
        font-weight: 700;
        line-height: 32px;
        margin-bottom: var(--small-spacing);
      }
      .text {
        font-weight: 400;
        font-size: var(--base-text);
        line-height: var(--line-normal);
        margin-bottom: var(--x-small-spacing);
        text-align: center;
      }

      .gray {
        font-size: var(--small-text);
        font-weight: 400;
        line-height: 17px;
        color: #86868b;
      }

      .buttonwrap {
        margin-top: 1rem;
        .more {
          color: #f5f5f7;
          width: 4.5rem;
          border: 1px solid #1d1d1f;
          background: #1d1d1f;
          border-radius: 6.25rem;
          padding: var(--x-small-spacing) var(--small-spacing);
          margin-right: var(--small-spacing);
          font-size: var(--xx-small-text);
        }
        .price {
          width: 61px;
          border-radius: 100px;
          padding: var(--x-small-spacing);
          border: 2px solid #1d1d1f;
          color: #1d1d1f;
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          letter-spacing: 0%;
          font-size: var(--xx-small-text);
        }
      }
    }
    @media (min-width: 1024px) {
      background-image: url(../products/ipad_air_wide.jpeg);
      .air {
        .name {
          font-size: var(--extra-large-text);
        }
        .text {
          font-size: var(--medium-text);
        }
        .buttonwrap {
          font-size: var(--x-small-text);
        }
      }
    }
  }

  /* iphone-15pro */
  .iphone-15pro {
    position: relative;
    inline-size: 100%;
    background-image: url(../products/iphone15_pro.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .pro-15 {
      position: absolute;
      color: white;
      top: 23%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;

      .name {
        font-size: var(--large-text);
        font-weight: 700;
        line-height: 32px;
        margin-bottom: var(--small-spacing);
      }
      .text {
        font-weight: 400;
        font-size: var(--base-text);
        line-height: var(--line-normal);
        margin-bottom: var(--x-small-spacing);
      }

      .gray {
        font-size: var(--small-text);
        font-weight: 400;
        line-height: 17px;
        color: #86868b;
      }

      .buttonwrap {
        margin-top: 1rem;
        .more {
          color: #f5f5f7;
          width: 4.5rem;
          border: 1px solid #0071e3;
          background: #0071e3;
          border-radius: 6.25rem;
          padding: var(--x-small-spacing) var(--small-spacing);
          margin-right: var(--small-spacing);
          font-size: var(--xx-small-text);
        }
        .price {
          width: 61px;
          border-radius: 100px;
          padding: var(--x-small-spacing);
          border: 2px solid #0071e3;
          color: #0071e3;
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          letter-spacing: 0%;
          font-size: var(--xx-small-text);
        }
      }
    }
    @media (min-width: 64rem) {
      background-image: url(../products/iphone15_pro_wide.jpeg);
      .pro-15 {
        .name {
          font-size: var(--extra-large-text);
        }
        .text {
          font-size: var(--medium-text);
        }
        .buttonwrap {
          font-size: var(--x-small-text);
        }
      }
    }
  }

  .wrap {
    display: contents;
  }

  /* iphone-15 */
  .iphone-15 {
    position: relative;
    /* inline-size: 100%; */
    background-image: url(../products/iphone15.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-width: 64rem) {
      background-image: url(../products/iphone15_2x.jpeg);

      .iphone .name {
        font-size: var(--extra-large-text);
      }

      .iphone .text {
        font-size: var(--medium-text);
      }

      .iphone .buttonwrap {
        font-size: var(--x-small-text);
      }

      .iphone .text br {
        display: none;
      }
    }
    .iphone {
      position: absolute;
      width: 100%;
      color: #000;
      top: 23%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;

      .name {
        font-size: var(--large-text);
        font-weight: 700;
        line-height: 32px;
        margin-bottom: var(--small-spacing);
      }
      .text {
        font-weight: 400;
        font-size: var(--base-text);
        line-height: var(--line-normal);
        margin-bottom: var(--x-small-spacing);
        text-align: center;
      }

      .gray {
        font-size: var(--small-text);
        font-weight: 400;
        line-height: 17px;
        color: #86868b;
      }

      .buttonwrap {
        margin-top: 1rem;
        .more {
          color: #f5f5f7;
          width: 4.5rem;
          border: 1px solid #1d1d1f;
          background: #1d1d1f;
          border-radius: 6.25rem;
          padding: var(--x-small-spacing) var(--small-spacing);
          margin-right: var(--small-spacing);
          font-size: var(--xx-small-text);
        }
        .price {
          width: 61px;
          border-radius: 100px;
          padding: var(--x-small-spacing);
          border: 2px solid #1d1d1f;
          color: #1d1d1f;
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          letter-spacing: 0%;
          font-size: var(--xx-small-text);
        }
      }
    }
  }

  /* watch */
  .watch {
    position: relative;
    /* inline-size: 100%; */
    background-image: url(../products/apple_watch.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-width) {
      background-image: url(../products/apple_watch_2x.jpeg);
      .watchdiv {
        .name {
          font-size: var(--extra-large-text);
        }
        .text {
          font-size: var(--medium-text);
        }
        .buttonwrap {
          font-size: var(--x-small-text);
        }
      }
    }
    .watchdiv {
      position: absolute;
      color: white;
      top: 23%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;

      .name {
        font-size: var(--large-text);
        font-weight: 700;
        line-height: 32px;
        margin-bottom: var(--small-spacing);
      }
      .text {
        font-weight: 400;
        font-size: var(--base-text);
        line-height: var(--line-normal);
        margin-bottom: var(--x-small-spacing);
      }

      .gray {
        font-size: var(--small-text);
        font-weight: 400;
        line-height: 17px;
        color: #86868b;
      }

      .buttonwrap {
        margin-top: 1rem;
        .more {
          color: #f5f5f7;
          width: 4.5rem;
          border: 1px solid #0071e3;
          background: #0071e3;
          border-radius: 6.25rem;
          padding: var(--x-small-spacing) var(--small-spacing);
          margin-right: var(--small-spacing);
          font-size: var(--xx-small-text);
        }
        .price {
          width: 61px;
          border-radius: 100px;
          padding: var(--x-small-spacing);
          border: 2px solid #0071e3;
          color: #0071e3;
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          letter-spacing: 0%;
          font-size: var(--xx-small-text);
        }
      }
    }
  }

  /* macbookair */
  .macbookair {
    position: relative;
    inline-size: 100%;
    background-image: url(../products/macbook_air.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-width) {
      background-image: url(../products/macbook_air_2x.jpeg);
      .macbook {
        .name {
          font-size: var(--extra-large-text);
        }
        .text {
          font-size: var(--medium-text);
        }
        .buttonwrap {
          font-size: var(--x-small-text);
        }
      }
    }
    .macbook {
      position: absolute;
      color: #000;
      top: 18%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;

      .name {
        font-size: var(--large-text);
        font-weight: 700;
        line-height: 32px;
        margin-bottom: var(--small-spacing);
      }
      .text {
        font-weight: 400;
        font-size: var(--base-text);
        line-height: var(--line-normal);
        margin-bottom: var(--x-small-spacing);
        text-align: center;
      }

      .gray {
        font-size: var(--small-text);
        font-weight: 400;
        line-height: 17px;
        color: #86868b;
      }

      .buttonwrap {
        margin-top: 1rem;
        .more {
          color: #f5f5f7;
          width: 4.5rem;
          border: 1px solid #1d1d1f;
          background: #1d1d1f;
          border-radius: 6.25rem;
          padding: var(--x-small-spacing) var(--small-spacing);
          margin-right: var(--small-spacing);
          font-size: var(--xx-small-text);
        }
        .price {
          width: 61px;
          border-radius: 100px;
          padding: var(--x-small-spacing);
          border: 2px solid #1d1d1f;
          color: #1d1d1f;
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          letter-spacing: 0%;
          font-size: var(--xx-small-text);
        }
      }
    }
  }

  /* airpodspro */
  .airpodspro {
    position: relative;
    inline-size: 100%;
    background-image: url(../products/airpods_pro.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-width) {
      background-image: url(../products/airpods_pro_2x.jpeg);
      .airpods {
        .name {
          font-size: var(--extra-large-text);
        }
        .text {
          font-size: var(--medium-text);
        }
        .buttonwrap {
          font-size: var(--x-small-text);
        }
      }
    }
    .airpods {
      position: absolute;
      color: white;
      top: 23%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;

      .name {
        font-size: var(--large-text);
        font-weight: 700;
        line-height: 32px;
        margin-bottom: var(--small-spacing);
      }
      .text {
        font-weight: 400;
        font-size: var(--base-text);
        line-height: var(--line-normal);
        margin-bottom: var(--x-small-spacing);
        text-align: center;
      }

      .gray {
        font-size: var(--small-text);
        font-weight: 400;
        line-height: 17px;
        color: #86868b;
      }

      .buttonwrap {
        margin-top: 1rem;
        .more {
          color: #f5f5f7;
          width: 4.5rem;
          border: 1px solid #0071e3;
          background: #0071e3;
          border-radius: 6.25rem;
          padding: var(--x-small-spacing) var(--small-spacing);
          margin-right: var(--small-spacing);
          font-size: var(--xx-small-text);
        }
        .price {
          width: 61px;
          border-radius: 100px;
          padding: var(--x-small-spacing);
          border: 2px solid #0071e3;
          color: #0071e3;
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          letter-spacing: 0%;
          font-size: var(--xx-small-text);
        }
      }
    }
  }

  @media (min-width: 64rem) {
    grid-template-rows: repeat(4, var(--size));
    .wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, var(--size));
      gap: 20px;
    }
  }
}
